# Default ignored files
/.idea/workspace.xml
*.class
/build/classes/
/build/generated/
/build/resources/
/build/tmp/
/build/reports
/build/distributions
/build/scripts
/out/
/.gradle/
/build/test-results/test/
